// Variables

$black: #000;
$orange: #ff8a0e;
$gray: #404040;
$lightgray: #f3f3f3;
$white: #fff;
$padding: 70px 0;

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: $gray;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  width: 80%;
  margin: auto;
}
.container::after {
  content: "";
  clear: both;
  display: block;
}

/***************
header
***************/
header {
  background-image: url(header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  border-bottom: 20px solid rgba(0, 0, 0, 0.5);

  h1 {
    background: $black;
    display: inline-block;
    color: $white;
    padding: 15px 50px;
    font-size: 2.8rem;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10px;
  }

  nav {
    background: $orange;
    display: inline-block;
    padding: 5px 30px;
    margin-left: 10%;
    ul li {
      display: inline-block;
      padding: 5px 30px;

      a {
        text-decoration: none;
        color: $white;
      }
    }
  }
}

h2 {
  font-size: 2rem;
  text-align: center;

  &::after {
    display: block;
    content: "";
    width: 80px;
    background: $orange;
    height: 3px;
    margin: 20px auto;
  }
}

button {
  background: $orange;
  padding: 15px 60px;
  border: none;
  color: $white;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;

  &:hover {
    background: $gray;
    cursor: pointer;
    transition: 0.4s ease;
  }
}

/***************
about
***************/
.about {
  background: $lightgray;
  padding: $padding;
  text-align: center;

  h2 {
    font-size: 2.8rem;
    padding-bottom: 30px;
  }
}

/***************
services
***************/
.services {
  padding: $padding;

  article {
    width: 33%;
    float: left;
    text-align: center;
    line-height: 1.8;
    padding: 0 30px;
  }

  h3 {
    font-size: 1.6rem;
  }
}

/***************
products
***************/
.products {
  padding: $padding;
  background: $lightgray;
  text-align: center;

  img {
    width: 100%;
    height: auto;
  }

  article {
    width: 25%;
    float: left;
    padding: 30px;
  }

  h5 {
    font-size: 1.5rem;
    padding: 20px 0;
  }
}

/***************
footer
***************/
footer {
  text-align: center;
  padding: $padding;
  background: $gray;
  color: $white;

  .fa-heart {
    color: red;
  }

  .fab {
    padding: 10px;
    background: $orange;
    color: $white;
    margin: 10px;
  }
}

/***********************
R E S P O N S I V E
***********************/
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  header h1 {
    font-size: 2rem;
  }
  header {
    border-bottom: 10px solid rgba(0, 0, 0, 0.5);
  }
  header nav {
    background: $orange;
    display: inline-block;
    padding: 5px;
    margin-left: 10%;
  }
  header nav ul li {
    padding: 10px;
  }
  .about h2 {
    font-size: 2.2rem;
    line-height: 1.2;
  }
  h2 {
    font-size: 1.8rem;
    text-align: center;
  }
  .services article {
    width: 100%;
    margin-bottom: 40px;
  }
  .products article {
    width: 100%;
  }
}
